beautifulsoup4==4.9.1
bs4==0.0.1
html5lib==1.0.1
lxml==4.9.1
more-itertools==8.3.0
numpy==1.18.4
pandas==1.0.4
python-dateutil==2.8.1
pytz==2020.1
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
tqdm==4.46.1
urllib3==1.25.9
webencodings==0.5.1
